.form-group {
  width: 400px;
  padding-left: 20px;
}

/* Only target your specific button */
#demo .btn {
  display: block;
  margin-top: 10px;
}

.form-check-label {
  padding-left: 20px;
  margin: 5px 0;
}

button.btn-info {
  margin: 20px;
}